*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: rgb(253, 236, 239);
}

#nav{
    height: 100px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;
}

#nav h5{
    font-size: 13px;
    border: 1.5px solid black;
    padding: 4px 14px;
    border-radius: 50px;
    margin: 0 7px;
    font-weight: 600;
}

#h6div{
    display: flex;
    position: absolute;
    flex-direction: column;
    height: 50px;
    width: 100px;
    /* background-color: red; */
    left: 5%;
}

h6{
   font-size: 12px;
}

#uxuidiv{
    display: flex;
    position: absolute;
    flex-direction: column;
    height: 50px;
    width: 100px;
    /* background-color: red; */
    right: 5%;
}

#center{
    height: calc(100% - 100px);
    width: 100%;
    position: relative;
    padding: 10px 20px;
}

#center h1{
    font-size: 95px;
    text-transform: uppercase;
    position: absolute;
    white-space: nowrap;
    font-weight: 900;
    left: 50%;
    transform: translate(-50%,0);
    font-style: italic;
    z-index: 99;
}

#center h2{
    font-size: 95px;
    text-transform: uppercase;
    position: absolute;
    white-space: nowrap;
    font-weight: 900;
    left: 49.4%;
    top: 0.8px;
    transform: translate(-50%,0);
    font-style: italic;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
    color: transparent;
}

#image{
     position: absolute;
     top: 60%;
     height: 65%;
     left: 50%;
     transform: translate(-50%,-50%);
     width: 67%;
     border-radius: 50%;
     border: 2px solid black;
}

#image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

button{
    padding: 15px 35px;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 50%;
    text-transform: capitalize;
    background-color: rgb(173, 244, 244);
    font-weight: 600;
    position: absolute;
    right: 10%;
    top: 27%;
    transform: rotate(-5deg);
}

#choosesize{
    padding: 15px 35px;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 50%;
    text-transform: capitalize;
    background-color: rgb(173, 244, 244);
    font-weight: 600;
    position: absolute;
    left: 10%;
    top: 85%;
    transform: rotate(8deg);
    border: 2px solid black;
}

#socks1{
    height: 190px;
    width: 210px;
    position: absolute;
    background-image: url(https://images.unsplash.com/photo-1589895869111-cab6bf8354c8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1034&q=80);
    background-size: cover;
    background-position: bottom;
    border: 2px solid black;
    top: 23%;
    left: 8%;
    transform: rotate(8deg);
}

#socks1::after{
    content: "";
    height: 190px;
    width: 210px;
    position: absolute;
    background-image: url(https://images.unsplash.com/photo-1589895869111-cab6bf8354c8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1034&q=80);
    background-size: cover;
    background-position: bottom;
    border: 2px solid black;
    top: 4%;
    left: 4%;
    transform: rotate(0deg);
}

#socks2{
    height: 190px;
    width: 210px;
    position: absolute;
    background-image: url(https://images.unsplash.com/photo-1631180543602-727e1197619d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1064&q=80);
    background-size: cover;
    background-position: top;
    border: 2px solid black;
    top: 60%;
    left: 80%;
    transform: rotate(-8deg);
}

#socks2::after{
    content: "";
    height: 190px;
    width: 210px;
    position: absolute;
    background-image: url(https://images.unsplash.com/photo-1631180543602-727e1197619d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1064&q=80);
    background-size: cover;
    background-position: center;
    border: 2px solid black;
    top: 4%;
    left: 4%;
    transform: rotate(0deg);
}